body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #36b325;
}
/* f8f9fa */
.container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.left-side {
  background-color: #36b325;
  color: white;
  flex: 0.9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 20px;
  position: relative;
}

.left-side .top-text {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
  align-self: flex-start;
  margin-left: 10px;
}

.left-side .center-icon {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-side .logo-icon {
  width: 120px;
}

.left-side .if-info {
  font-size: 12px;
  text-align: left;
  align-self: flex-start;
  margin-left: 10px;
}

.container {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden; /* Adicionado */
  position: relative; /* Garantir controle interno */
}

/* right-side */
.right-side {
  flex: 1.5;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  box-shadow: -6px 0 15px rgba(0, 0, 0, 0.08);
  height: 96%;
  margin-top: auto;
  margin-bottom: auto;
}

.form-container {
  width: 100%;
  max-width: 600px;
  padding: 20px;
}

.form-container h2 {
  color: #36b325;
  text-align: left;
  margin-bottom: 20px;
  font-size: 38px;
}

.cadastro-icon {
  width: 80%;
  margin: 0px auto;
  display: block;
}

#logo_ifsp {
  width: 60%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px; /* maior espaçamento entre os campos */
}

input {
  padding: 20px 24px;
  font-size: 18px;
  border: 1px solid #a8a5a5;
  border-radius: 20px;
  transition: border-color 0.3s;
  width: 100%;
}

input:focus {
  border-color: #36b325;
  outline: none;
}

input::placeholder {
  font-size: 16px;
  color: #aaa;
}

input.error {
  border-color: red;
}

button {
  padding: 20px;
  background-color: #36b325;
  color: white;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #36b325;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: -15px;
  margin-bottom: -10px;
}

/* Link de login */
form p {
  font-size: 15px;
  text-align: center;
  margin-top: -5px;
}

form a {
  color: #36b325;
  text-decoration: none;
}

form a:hover {
  text-decoration: underline;
}

/* Responsivo */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    height: auto;
  }

  .left-side,
  .right-side {
    flex: none;
    width: 100%;
    padding: 10px;
    border-radius: 0;
  }

  .left-side {
    height: auto;
  }

  .right-side {
    height: 70vh;
    padding-bottom: 20px;
  }

  .left-side,
  .left-side .if-info {
    font-size: 16px;
    margin-left: 0;
  }

  .left-side .top-text {
    text-align: left;
    align-self: flex-start;
    justify-content: center;
  }

  .form-container {
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 95%;
    margin-left: 10px;
    margin-right: 20px;
    padding: 0 10px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .cadastro-icon {
    width: 20%;
    margin: 0 auto;
  }

  .if-info {
    right: 0;
    margin: 0 auto;
    text-align: left;
    width: 100%;
  }

  .logo_ifsp {
    display: block;
    width: 25%;
    height: auto;
    margin-left: 0;
    margin-right: auto;
  }

  form {
    gap: 20px;
  }

  input,
  .submit {
    margin: 20px 0 auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 95%;
    font-size: 16px;
    padding: 16px;
  }

  p {
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 390px) {
  .left-side .top-text {
    font-size: 14px;
  }

  .cadastro-icon {
    margin-top: 20px;
    width: 30%;
  }

  .logo_ifsp {
    width: 40%;
  }
}
